/*button {
    color: #446620;
    background-color: linear-gradient(#87c44a, #b4da77);
    border-width: 1px;
    border-color: #84a254;
    border-radius: 10px;
*//*    font-size: 15px;
    font-weight: bold;*//*

*//*    color      : rgb(100,101,102);
    background-color : rgb(222, 223, 224);*//*
    box-shadow : inset 0 1px 4px rgb(114,115,116), 0 1px 1px rgba(255,255,255,0.2);

}*/

#listTableCell{
    background-color: linear-gradient(#E8E7DF, #FBFAF1);
}

/*#dayFilter{
    background-color: linear-gradient(#9D9083, #70665A);
    border-radius: 5px;
    border-width: 1px;
    border-color:  #4D443B;
    height: 35px;
}*/

#nav_bar{
    background-color: linear-gradient(top,#6C1E28, #9D313D);
    /*border-width: 1px;*/
    /*border-color: #98002E;*/
    /*border-radius: 5px;*/
    /*box-shadow : inset 0 1px 4px rgb(114,115,116), 0 1px 1px rgba(255,255,255,0.2);*/
}

#nav_bar nav-buttons {
    background-color:  #587992
}


#textView {
    border-radius   : 5px;
    border-width    : 1px;
    border-color    : rgb(192,193,194);
}

#bio {
    color: red;
}